@CHARSET "ISO-8859-1";

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: rgba(112, 112, 112, 0.33);
}

.clear {
	clear: both;
}

@
-webkit-keyframes pulse { 0% {
	-webkit-box-shadow: 0 0 12px rgba(51, 204, 255, 0.2);
}

50%
{
-webkit-box-shadow










:










0
0
12
px





 





rgba










(51
,
204,255,0
.9










);
}
100%
{
-webkit-box-shadow










:










0
0
12
px





 





rgba










(51
,
204,255,0
.2










);
}
}
.thumbnail {
	max-width: 70px;
	display: inline-block;
	margin: 0px;
	-webkit-box-shadow: 0px 0px 12px black;
	-moz-box-shadow: 0px 0px 12px black;
	box-shadow: 0px 0px 12px black;
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}

body {
	background-color: #EEE;
}

#accountchoose {
	background-color: black;
	color: white;
	margin-top: 20px;
	box-shadow: -3px 3px 5px #888888;
	margin-bottom: -15px;
}

.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
}^

a:active,a:hover, a:focus {
	text-decoration: none;
}

a#characterschoose.thumbnail {
	max-width: 50%;
	margin-left: -5px;
	border-radius: 0px;
	border-width: 1px;
	color: white;
	background-color: #790000;
	margin-bottom: 10px;
	margin-top: -10px;
	box-shadow: 0px 0px 0px #888888;
}

a#characterschoose.thumbnail:hover {
	border-color: #ab101c;
	-webkit-box-shadow: 0px 0px 12px #ab101c;
	-moz-box-shadow: 0px 0px 12px #ab101c;
	box-shadow: 0px 0px 12px #ab101c;
	-webkit-animation: pulse 1.5s infinite ease-in-out;
	text-decoration: none;
}

a#characterschoose.thumbnail:active {
	text-decoration: none;
}

.pagination>.active {
	color: white;
	background-color: #ab101c;
}

#itemsthumbgreen:hover {
	border-color: green;
	-webkit-box-shadow: 0px 0px 12px green;
	-moz-box-shadow: 0px 0px 12px green;
	box-shadow: 0px 0px 12px green;
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}

#itemsthumborange:hover {
	border-color: orange;
	-webkit-box-shadow: 0px 0px 12px orange;
	-moz-box-shadow: 0px 0px 12px orange;
	box-shadow: 0px 0px 12px orange;
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}

#itemsthumbyellow:hover {
	border-color: yellow;
	-webkit-box-shadow: 0px 0px 12px yellow;
	-moz-box-shadow: 0px 0px 12px yellow;
	box-shadow: 0px 0px 12px yellow;
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}

#itemsthumbblue:hover {
	border-color: blue;
	-webkit-box-shadow: 0px 0px 12px blue;
	-moz-box-shadow: 0px 0px 12px blue;
	box-shadow: 0px 0px 12px blue;
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}

#itemsthumbwhite:hover {
	border-color: white;
	-webkit-box-shadow: 0px 0px 12px white;
	-moz-box-shadow: 0px 0px 12px white;
	box-shadow: 0px 0px 12px white;
	-webkit-animation: pulse 1.5s infinite ease-in-out;
}

#itemsthumbgreen {
	background-image:
		url('http://eu.battle.net/d3/static/images/item/icon-bgs/green.png');
}

#itemsthumborange {
	background-image:
		url('http://eu.battle.net/d3/static/images/item/icon-bgs/orange.png');
}

#itemsthumbyellow {
	background-image:
		url('http://eu.battle.net/d3/static/images/item/icon-bgs/yellow.png');
}

#itemsthumbblue {
	background-image:
		url('http://eu.battle.net/d3/static/images/item/icon-bgs/blue.png');
}

#itemsthumbwhite {
	background-image:
		url('http://eu.battle.net/d3/static/images/item/icon-bgs/white.png');
}

a#accountchoose.thumbnail:hover {
	border-color: blue;
	box-shadow: -5px 5px 5px #888888;
	text-decoration: none;
}

img {
	background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.45),
		transparent);
}

#bottes {
	margin-left: 75px;
}

#feuilleprofil {
	padding: 5px;
	width: 235px;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	background-color: black;
	box-shadow: -5px 5px 5px #888888;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}